<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Forest Road</title>
	<meta name="description" content="Forest Road is an East London brewing company.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


	<link rel="icon" href="assets/img/favicon.ico">

	<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:fb="http://ogp.me/ns/fb#">




	<!-- CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/owl.carousel.css" rel="stylesheet">
	<link href="assets/css/animate.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/marcus.css">

	<!-- Modernizr -->
	<script src="assets/js/modernizr-2.6.2.min.js"></script>

	<!-- Google font -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" title="colors" type="text/css" href="assets/css/colors/green.css">
	<script>
		var mainColor = 'green';
	</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70" class="forest-road-content">
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div id="wrapper">

			<!-- Home: carousel -->
			<div id="home" class="section carousel slide home-carousel carousel-fade" data-ride="carousel">

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item item-1 active">
						<div class="container">
							<div class="content">
								<div class="logo " data-wow-duration="1s" data-wow-delay=".5s"><div class="wrap"><div id=></div></div></div>
								<div class="text font-white">
									<div class="row">
										<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
										<h1 id="header-logo">keep it east.</h1>
											<h2 id="east" class="">east london brewery / makers of work</h2>
											<div class="social">
												<a href="https://www.facebook.com/forestroadbrew/?fref=ts" title="#" class="icon"><i class="fa fa-facebook"></i></a>
												<a href="https://twitter.com/ForestRoadBrew" title="#" class="icon"><i class="fa fa-twitter"></i></a>
												<a href="https://www.linkedin.com/company/10308948?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10308948%2Cidx%3A3-2-7%2CtarId%3A1448981030693%2Ctas%3Aforest%20road" title="#" class="icon"><i class="fa fa-instagram"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Scroll to the next section -->
				<a class="j-scroll scrollDown" href="#features">
					<span class="fa fa-arrow-circle-down"></span>
				</a>
			</div>

			<!-- Header -->
			<header id="header">
				<!-- Static navbar -->
				<div class="navbar navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<img id="nav-logo" src="./img/logo.png">
						</div>
						<nav class="navbar-collapse collapse">
							<ul class="nav navbar-nav navbar-right">
								<li class="homebuttons"><a href="#home" class="j-scroll" title="Home">Home</a></li>
								<li class="homebuttons"><a href="#features" class="j-scroll" title="Features">Work</a></li>
								<li class="homebuttons"><a href="#contact" class="j-scroll" title="Contact">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			<!-- Section: Services -->
			<section id="features">
				<div class="container">
					<!-- Header -->
					<header>
						<div class="row">
							<div class="col-sm-4 col-sm-4 col-sm-offset-1">
								<img src="http://facehoff.herokuapp.com/400/400">
								
							</div>
							<div class="col-sm-4 col-sm-4 col-sm-offset-2">
								<h1>work.</h1>
								<div class="dotted-break">
								</div>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took</p>

								<button class="tryit" type="button">Try It</button>
							</div>
						</div>
					</header>

					<!-- Content -->

				</section>

				<section id="science">
					<div class="container beer-science">
						<!-- Header -->
						<header>
							<div class="row">
								<div class="col-sm-4 col-sm-4 col-sm-offset-2">
									<h1>Its science bitch</h1>
									<div class="dotted-break">
									</div>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took</p>
								</div>
								<div class="col-sm-4 col-sm-4 col-sm-offset-1">
									<img src="http://facehoff.herokuapp.com/400/400">
									
								</div>
							</div>
						</header>

						<!-- Content -->

					</section>



				</section>

				<!-- Contact -->
				<section id="contact" >
					<div class="container">
						<!-- Header -->
						<header class="font-white">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h1>Interested?</h1>
									<div class="dotted-break">
									</div>
									<h2>If you are interested in stocking out beer
									please get in touch with our sales team using the form below</h2>

								</div>
							</div>
						</header>

						<!-- Content -->
						<div class="row">

							<div class="col-xs-12 col-sm-8 col-sm-offset-2">
								<form id="contact_form" data-parsley-validate>
									<div id="msgInfo"></div>
									<input type="text" name="name" class="form-control" data-wow-delay="0.2s" placeholder="Name" required data-parsley-error-message="Enter name" id="name">
									<input type="email" name="email" class="form-control email"  placeholder="Email" required data-parsley-error-message="Enter email" id="email">
									<input type="phone" name="email" class="form-control phone"  placeholder="Phone" required data-parsley-error-message="Enter email" id="phone">
									<input type="text" name="msg" class="form-control  message" drows="6" placeholder="Message" required data-parsley-error-message="Enter message" id="msg">
									<button class="tryit contactus" type="button">Send</button>
								</form>
							</div>
							<div class="col-xs-12 info">
								<span class="" ><i class="fa fa-envelope-o icon"></i> yo@forestroad.co.uk</span>
								<span class="" ><i class="fa fa-phone icon"></i>+447456916973</span>
							</div>
						</div>
					</div>
				</section>

		<footer>
				<div class="navbar footer">
				       <div class="col-xs-6 col-md-4 col-lg-3">
				         <img id="footer_logo" src="./img/forest_noback.png">
				       </div>
				       <div class="col-xs-6 col-md-4 col-lg-3">
				         <a href="#home" class="j-scroll" title="Home">Back to top</a>
				       </div>
				       <div class="col-xs-6 col-md-4 col-lg-3">
				         <p>yo@forestroad.co.uk</p>
				         <p>07792218819</p>
				       </div>
				       <div class="col-xs-6 col-md-4 col-lg-3">
				         <p>Forest Road Brewery</p>
				         <p>97 Forest road</p>
				         <p>E8 3BH</p>
				         <p>London, UK</p>
				       </div>
				</div>
				</footer>

<!-- 				<footer id="footer">
					<div class="social">
						<a href="https://www.facebook.com/forestroadbrew/?fref=ts" title="#" class="icon"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/ForestRoadBrew" title="#" class="icon"><i class="fa fa-twitter"></i></a>
						<a href="https://www.linkedin.com/company/10308948?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10308948%2Cidx%3A3-2-7%2CtarId%3A1448981030693%2Ctas%3Aforest%20road" title="#" class="icon"><i class="fa fa-linkedin"></i></a>
					</div>

					<div>© 2015 Forest Road / All rights reserved</div>
					<div>Web Design by: <a href="http://www.marcusps.com" title="#" target="_blank">@marcusps</a></div>
				</footer> -->

			</div>



			<!-- jQuery and Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
			<script src="assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="assets/js/jquery.easing.1.3.js"></script>
			<script src="assets/js/owl.carousel.min.js"></script>
			<script src="assets/js/parsley.min.js"></script>
			<script src="assets/js/jquery.shuffle.min.js"></script>
			<script src="assets/js/wow.min.js"></script>
			<script src="assets/js/jquery.easypiechart.min.js"></script>
			<script src="assets/js/jquery.countTo.js"></script>
			<script src="assets/js/waypoints.min.js"></script>
			<script src="assets/js/jquery.magnific-popup.min.js"></script>
			<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

			<!-- Custom JS -->
			<script src="assets/js/portfolio.js"></script>
			<script src="assets/js/script.min.js"></script>
			<script src="assets/js/app.js"></script>

			<!-- Options (demo only) -->
			<script src="assets/js/options.js"></script>
			<link rel="stylesheet" href="assets/css/options.css">

			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-71097362-1', 'auto');
				ga('send', 'pageview');
			</script>


		</body>
		</html>
